@using TruongDucThanh_K54.CoreBusiness.Model
@inject NavigationManager navigationManager
<div class="card m-2" style=" width:25rem;">
    <div class="card-body">
        <h5 class="card-title">Order Summary</h5>
        <div class="card-text d-flex justify-content-between">
            <div>
                Items (@itemsCount):
            </div>
            <div>
                @itemTotalPrice.ToString("c");
            </div>
        </div>
        <div class="card-text d-flex justify-content-between">
            <div>
                Shipping and Handling:
            </div>
            <div>
                <text>$0.00</text>                
            </div>
        </div>
        <div class="card-text d-flex justify-content-between">
            <div>
                Estimated Tax:
            </div>
            <div>
                <text>$0.00</text>
            </div>
        </div>
        <hr />
        <div class="card-text d-flex justify-content-between" style="color: darkred">
            <div>
                <b>Order Total:</b>
            </div>
            <div>
                <b>@itemTotalPrice.ToString("c")</b>
            </div>
        </div>
    </div>
  <div class="col">
      @if(!HidePlaceOrder)
        {
            <button class="button btn-primary" @onclick="PlaceOrder">Place your order</button>
        }
        
  </div>

</div>

@code {
    int itemsCount = 0;
    double itemTotalPrice = 0;

    [Parameter]
    public Order order{ get; set; }
    [Parameter]
    public bool HidePlaceOrder { get; set; } = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if(order!=null)
        {
            itemsCount = order.LineItems.Count;
            itemTotalPrice = 0;
            order.LineItems.ForEach(x => itemTotalPrice += x.Price * x.Quantity);
        }
    }
    private void PlaceOrder()
    {
        navigationManager.NavigateTo($"/placeOrder");
    }
}
