<!-- footer section start -->
<div class="footer_section layout_padding" style="background-color: #2E3B4E; font-family: 'Georgia', serif;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <h3 class="footer_text" style="color: #FFD700;">Liên kết</h3>
                <div class="footer_menu">
                    <ul>
                        <li class="active"><a href="#" style="color: #FFD700;">Trang chủ</a></li>
                        <li><a href="#" style="color: #FFD700;">Giới thiệu</a></li>
                        <li><a href="#" style="color: #FFD700;">Sản phẩm</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h3 class="footer_text" style="color: #FFD700;">Địa chỉ</h3>
                <div class="location_text">
                    <ul>
                        <li>
                            <a href="#" style="color: #FFD700;">
                                <span class="padding_left_10"><i class="fa fa-map-marker" aria-hidden="true"></i></span>39 Võ Thị Sáu
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: #FFD700;">
                                <span class="padding_left_10"><i class="fa fa-phone" aria-hidden="true"></i></span>(+84) 777711141
                            </a>
                        </li>
                        <li>
                            <a href="#" style="color: #FFD700;">
                                <span class="padding_left_10"><i class="fa fa-envelope" aria-hidden="true"></i></span>ducthanh2102@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer_main">
                    <!-- Bạn có thể thêm nội dung ở đây nếu cần -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section" style="background-color: #2E3B4E; font-family: 'Georgia', serif;">
   
</div>
<!-- copyright section end -->
